github-copilot
tmux/plugins/

# Mac
.DS_Store
wireshark
configstore
iterm2
font
spicetify

# Linux
cef_user_data
procps
pulse
yay
mimeapps.list
BraveSoftware
systemd
user-dirs.dirs
user-dirs.locale
autostart
dconf
discord
Docker\ Desktop
gtk-3.0
ibus
OpenRGB
spotify
QtProject.conf
GitHub
create-next-app-nodejs
gcloud
vault
